# No version control for data files: .dta, .csv, and .sav
# No version control for Stata project files or log files

*.dta
*.sav
*.csv
*.rar
*.stpr
*.smcl
*.pdf
*.sty
*.png
*.smcl
*.docx
*.html
*.DS_Store
*.Rhistory

old/uganda/household_code/wave_8/~2019_agsec5b.do.stswp
analysis/~model1_2.do.stswp
~projectdo.do.stswp
